
/*
    Created on : Apr 9, 2016, 11:12:56 PM
    Author     : Themewinter
*/

/* Post Meta Left */

.post-meta-left{
    width: 15%;
}

.post-meta-left{
    margin-top: -20px;
}

.post-meta-left span{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}


/* Post media */

.post-media.post-video{
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.post-media.post-video:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.video-icon {
    text-align: center;
    color: #fff;
    display: block;
    top: 50%;
    margin-top: -50px;
    font-size: 78px;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    line-height: 65px;
    display: inline-block;
    border-radius: 100%;
}

.video-icon i{
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.video-icon i:hover{
    color: #2154cf;
}

/* 404 page */

.error-page .error-code{
    display: block;
    font-size: 150px;
    line-height: 150px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 5px 5px 1px rgba(0,0,0,.1);
}

.error-page .error-body .btn{
    margin-top: 30px;
    font-weight: 700;
}


/* Blog
================================================== */

/* Blog Listing */

.post.post-last{
    border-bottom: 0;
}

.post-image-wrapper{
    position: relative;
}

.blogs-date{
    position: absolute;
    top: 50px;
    left: 0;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
    background: #ee3b24;
}

.blogs-date a{
    color: #fff;
}

.post-footer .btn.btn-primary {
    margin-top: 15px;
    padding: 10px 30px;
}


/* Meta date */

.post-meta-date{
    background: #2154cf;
    color: #fff;
    width: 65px;
    height: 65px;
    line-height: 26px;
    padding: 10px 0;
    position: relative;
    top: -40px;
}

.post-meta-date span{
    font-size: 30px;
    font-weight: 600;
    display: block;
}

/* Post Quote */

.post-quote-wrapper {
    position: relative;
    color: #fff;
    background: #252a37;
    padding: 50px;
}

.post-quote-content:before{
    padding: 28px 0 22px;
    content: "\e937";
    font-family: 'iconfont';
    color: #fff;
    font-size: 44px;
}

.post-quote-content .entry-title{
    margin-top: 20px;
}

.post-quote-content .entry-title a{
    color: #fff;
}

.post-quote-content .meta-author{
    color: #ccc;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    margin-bottom: 15px;
}

.post-quote-content .meta-author:before{
    content: '';
    position: absolute;
    top: 14px;
    height: 2px;
    width: 20px;
    background-color: #2154cf;
    margin-left: -30px;
}

.post-quote-content .post-meta,
.post-quote-content .post-meta a{
    color: #fff;
}

/* Author */
.post-author{
    position: relative;
}

.post-meta-left span.post-author{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.post-comment i{
    position: relative;
    bottom: -3px;
    margin-right: 5px;
}

/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 50%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    display: inline-block;
    max-width: 100%;
}

.gallery-item a img {
    display: block;
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}

.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

.wp-caption,
.gallery-caption {
    color: #666;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    overflow: hidden;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.updated:not(.published) {
    display: none;
}


.xs-page-header {
    margin: 0 0 60px;
}
.xs-page-header h2{
    margin: 0 ;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.post-body td, .post-body th, .comment-content td, .comment-content th {border: 1px solid #EDEDED}
dt {margin-top: 15px;}

.search-title {
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}
.extra-color {
    background: #00081d;
}
table#wp-calendar th, table#wp-calendar td {
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 3px 5px;
}
table#wp-calendar #today{
    color: #2154cf;
    font-weight: bold;
}
table#wp-calendar caption {
    background:#f3f3f3;
    padding: 7px;
}
.not-found {text-align: center;}
.not-found h1{
    font-weight: 900;
    font-size: 70px;
}
.not-found {
    line-height: 50px;
    font-size: 20px;

}
.fw-container-fluid .fw-col-md-12 {padding: 0;margin: 0;}
.text-black h3 {color: #333333 !important}


/* SEO bin blog styles
================================================== */
article{
    overflow: hidden;
    margin-bottom: 60px;
}
article .entry-header {margin-left: 0;}
.entry-header {
    margin-left: 80px;
}
.entry-header .entry-title {
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.entry-header .entry-title a{
    color: #2f2c2c;
}
.entry-header .entry-title a:hover{
    color: #fc6a2a;
}


/* News Listing  */

.main-container{
    padding: 100px 0;
}
.post {
    background: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 50px;
}

.post.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

/* Post Media */
.post-media {
    margin-bottom: 20px;
}


.post-body {
    position: relative;
    padding-left: 20px;
}
.post-item-date {
    position: absolute;
    height: 100%;
}
.post-item-date:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background: #DCDCDC;
    width: 1px;
    height: 100%;
}
.post-item-date:after {
    position: absolute;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: "";
    background: #F76641;
    left: 50%;
    margin-left: -7px;
    border-radius: 50%;
    border: 2px solid #DCDCDC;
}
.post-date {
    width: 60px;
    height: 60px;
    background: #F76641;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 3;
    font-weight: 800;
    font-size: 20px;
    padding-top: 10px;
    display: block;
}
.post-date .month {
    display: block;
    font-weight: 300;
    font-size: 14px;
    margin-top: -10px;
}

/* Post Meta */
.post-meta {
    padding-top: 20px;
    padding-bottom: 7px;
}
.entry-header .post-meta span {
    color: #989898;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.post-meta span {
    margin-right: 15px;
}
.entry-header .post-meta a {
    color: #989898;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.entry-header .post-meta a:hover{
    color: #FA6742;
}


.post-meta span i{
    padding-right: 0;
    margin-right: 6px;
    font-weight: 500;
}

/* Entry Content */
.post .entry-content {
    margin-left: 80px;
    margin-bottom: 25px;
}
.entry-content .page-links a{
    display: inline-block;
    padding: 2px 18px;
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #EDEDED;
}
.entry-content .page-links a:hover{
    background-color: #FA6742;
    color: #ffffff;
}
.entry-content .page-links a:hover .page-link{
    color: #fff;
}
.entry-content .page-links a .page-link{
    border: 0px solid;
    color: #757575;
    font-size: 14px;
    background-color: transparent;
    padding: 0;
}
.entry-content .page-links a .page-link:hover{
    background-color: transparent;
    color: #FFFFFF;
}

/* Post Footer */
.post-footer{
    margin-left: 80px;
}
.post-footer .btn {
    overflow: hidden;

}
.post-footer .btn i {
    padding-left: 10px;
    font-weight: 700;
}


.post-meta span.meta-featured-post {
    display: inline-block;
    font-weight: 700;
    color: #F76641;
}
.post-footer .btn.btn-primary {
    margin-top: 10px;
    padding: 10px 30px;
}


/* Blog Pagination */

.paging {
    margin-bottom: -5px;
}
.pagination {
    margin: 0;
    justify-content: center!important;
}
.pagination>li>a, .pagination>li>span {
    border-radius: 100% !important;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #757575;
    border: 1px solid #F7F7F7;
    text-align: center;
    font-weight: 700;
    display: block;
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
    color: #fff;
    background: #FA6742;
    border: 1px solid transparent;
}


/* News Single
================================================== */

.post-single{
    position: relative;
    padding-bottom: 0;
    border-bottom: 0px solid #e4e4e400;
    margin-bottom: 0;
}
.post-single .post-body{
    padding-left: 0;
}
.entry-content {
    overflow: hidden;
}
.post-single .entry-header,
.post-single .entry-content {
    margin: 0;
    overflow: hidden;
}

.post-single .entry-header .post-meta span{
    margin-right: 20px;
}
.post-single .post-author .avatar{
    width: 30px;
    height: 30px;
}

.post-single .post-author a{
    display: inline-block;
    margin-left: 6px;
}
.post-single .post-author:after{
    border:0;
}

.post-single .entry-content blockquote {
    background: #f5f5f5;
    padding: 80px 30px 30px 45px;
    position: relative;
    z-index: 2;
    margin-top: 40px;
}
.post-single .entry-content blockquote:after {
    position: absolute;
    top: 30px;
    left: 40px;
    content: "\e937";
    font-family: iconfont;
    font-size: 60px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.post-single .entry-content blockquote p {
    font-size: 18px;
    color: #2f2c2c;
    line-height: 1.6;
    padding-top: 8px;
    padding-bottom: 20px;
}
.post-single .entry-content blockquote cite {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-style: normal;
    color: #FA6742;
    font-weight: 700;
    font-size: 16px;
}

.post-single .entry-content h3 {
    font-size: 24px;
    padding: 20px 0;
}
.post-single .entry-content ul.list-round {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    border-bottom: 1px solid #F1F1F1;
}
.post-single .entry-content ul.list-round li {
    padding-bottom: 15px;
}
.post-single .entry-content ul.list-round li:before {
    font-family: fontAwesome;
    content: "\f111";
    font-size: 8px;
    color: #222222;
    vertical-align: middle;
    margin-right: 15px;
}
.post-single .post-footer {
    margin-left: 0;
    padding: 30px 0;
}


/* Post Tags */

.post-single .post-footer strong {
    color: #2f2c2c;
    font-weight: 700;
    margin-right: 10px;
}
.post-single .post-footer .post-tags a {
    display: inline-block;
    padding: 2px 15px;
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    color: #757575;
    font-size: 14px;
    margin-right: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-bottom: 10px;
}
.post-single .post-footer .post-tags a:hover {
    background: #FA6742;
    color: #fff;
}


/* Post Social Icons */
.post-single .post-footer .post-social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-single .post-footer .post-social-icons li {
    display: inline-block;
}
.post-single .post-footer .post-social-icons a i {
    margin-right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background: #000;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}
.post-single .post-footer .post-social-icons a i.fa-facebook {
    background-color: #3B5998;
}
.post-single .post-footer .post-social-icons a i.fa-twitter {
    background-color: #55ACEE;
}
.post-single .post-footer .post-social-icons a i.fa-google-plus {
    background-color: #DD4B39;
}
.post-single .post-footer .post-social-icons a i.fa-linkedin {
    background-color: #0976B4;
}

.post-single .post-footer .post-social-icons a i.fa-instagram {
    background-color: #B7242A;
}

/* Single Blog Author Box */

.author-box {
    border: 1px solid #F1F1F1;
    padding: 40px;
    overflow: hidden;
}
.author-box .author-img {
    float: left;
}
.author-img img{
    border-radius: 100%;
}
.author-box .author-info {
    margin-left: 70px;
}
.author-box .author-info .author-url a {
    color: #cacaca;
    font-size: 14px;
}


.author-info h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}

.author-info h3 span{
    font-size: 14px;
    color: #959595;
    border-left: 1px solid #AFAFAF;
    padding-left: 8px;
    margin-left: 5px;
}


/* Single Post Navigation */
.post-navigation {
    border-bottom: 1px solid #F1F1F1;
    padding: 35px 0;
}
.post-navigation h3{
    font-size: 18px;
    line-height: 1.4;
    margin: 8px 0 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.post-navigation span{
    font-size: 14px;
    margin-bottom: 10px;
    color: #757575;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: inline-block;
    margin-top: 5px;
}

.post-navigation span:hover,
.post-navigation h3:hover{
    color: #FA6742;
}
.post-navigation i{
    margin: 0 5px;
    color: #757575;
}

.post-navigation .post-previous,
.post-navigation .post-next {
    padding: 0 40px;
    width: 50%;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.sticky{position: relative;}

.post-navigation .post-previous {
    text-align: left;
    float: left;
    border-left: 0 none;
    border-right: 0 none;
    padding: 0 40px 0 0;
}
.post-navigation .post-next {
    text-align: right;
    float: left;
    border-right: 0 none;
    padding: 0 0 0 40px;
}



/* Comments area */

cite {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
}
.pingback p ,.pingback .says {display: none;}
.comments-list .pingback .comment-body {margin-left: 0;}

h3.comments-heading {
    font-size: 24px;
    padding: 35px 0;
}


.comments-list .comment-reply-link {
    color: #a2a2a2;
    font-weight: 400;
    font-size: 14px;
}

.comments-list .comment-reply-link i{
    margin-right: 5px;
}

.comments-list .comment-reply-link:hover {
    color: #2154cf;
}

.comments-counter {
    font-size: 18px;
}

.comments-counter a {
    color: #323232;
}

.comments-list {
    list-style: none;
}

.comments-list .comment {
    list-style: none;
    margin-bottom: 30px;
}
.comment .comment-avatar {
    float: left;
}
.comments-list img.comment-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
ul.comments-list li.comment {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 30px;
}

.meta-data {
    margin-bottom: 10px;
}

.comments-list .comment.last {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.comments-list .comment-body {
    margin-left: 110px;
    margin-bottom: 30px;
}

.comment .meta-data span {
    display: block;
}
.comments-list .comment-author {
    font-weight: 700;
    color: #2f2c2c;
}

.meta-data .comment-date {
    font-size: 14px;
    color: #757575;
    margin-top: 5px;
}


/* Comment Reply */
.comments-reply {
    list-style: none;
    margin: 0 0 0 70px;
}
.comments-list .comments-reply {
    list-style: none;
}
ul.children li.comment .comment-body {
    background: #f7f9f8;
    padding: 30px 30px 20px;
}
ul.children li.comment{
    border-bottom: 0px solid #f1f1f1;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* Comment Respond */
.comment-respond {
    margin-bottom: 50px;;
}

.comment-respond .title-normal {
    margin-bottom: 20px;
}

.comment-respond .btn.btn-primary {
    margin-top: 40px;
}
.comment-info [class*=col-md-]{
    margin-bottom: 15px;
    position: inherit;
}
.comment-respond .form-submit{
    text-align: right;
}

/*Comment Form*/
.comment-form input{
    border-radius: 50px;
    border-color: #F1F1F1;
}
.comment-form textarea.form-control{
    height: auto;
    border-radius: 25px;
    resize: none;
    padding: 30px;
    border: 1px solid #F1F1F1;
}



/* Sidebar
================================================== */

/* Widget common */
.sidebar .widget {
    background-color: #f7f9f8;
    margin-bottom: 30px;
    padding: 40px;
}
.sidebar-left .widget {
    margin-right: 10px;
}

.sidebar .widget.box {
    padding: 25px;
}

.widget.box.solid {
    background: #f2f2f2;
}

.widget.box.red {
    background: #ec483b;
    color: #fff;
}

.widget.box.red .widget-title {
    color: #fff;
}

.widget ul li {
    line-height: 30px;
    list-style: none;
}

.sidebar .widget ul li a:hover {
    color: #2154cf;
}

.sidebar .widget ul li i {
    margin-right: 5px;
    font-weight: 500;
}

.sidebar .btn {
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px 25px;
}


/* Blog search */
#sidebar.sidebar ul li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom:0;
}

.sidebar .widget-title {
    font-weight: 700;
    color: #2f2c2c;
    position: relative;

    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

/* Widget search */
.sidebar .widget.widget_search{
    padding: 0;
}
.sidebar .widget.widget_search form{
    width: 100%;
}
.sidebar .widget.widget_search .animate-border{
    margin-left: 40px;
}
.sidebar .widget.widget_search .widget-title{
    padding: 40px 40px 0 40px;
}
.sidebar .widget.widget_search .animate-border{
    margin-bottom: 35px;
}
.sidebar .widget.widget_search .input-group input {
    background-color: #eaeaea;
    padding: 16px 25px;
    position: relative;
    z-index: 0;
    border: none;
    width: 100%;
}
.sidebar .widget.widget_search .input-group span i {
    position: absolute;
    right: 25px;
    font-size: 20px;
    z-index: 0;
    top: 50%;
    margin-top: -10px;
    color: #757575;
}

/* Common Widget Styles */
.sidebar .widget ul{
    margin: 35px 0 0;
    padding: 0;
    list-style: none;
}
.sidebar .widget ul li {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding: 16px 0;
    position: relative;
}
.sidebar .widget ul li a{
    color: #757575;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.sidebar .widget span.animate-border{
        margin-bottom: 20px;
}

.sidebar .widget.widget_nav_menu ul li ul.sub-menu{
    margin: 0;
    border-top: 1px dashed #ddd;
    padding-left: 15px;
}

/* Widget Text */
.sidebar .widget select,
.sidebar .widget.widget_calendar .calendar_wrap,
.sidebar .widget.widget_recent_comments ul,
.sidebar .widget.widget_rss ul,
.sidebar .widget.widget_text .textwidget{
    margin-top: 35px;
}

/* Widget Comments*/
.sidebar .widget.widget_recent_comments ul li {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding: 16px 0;
    position: relative;
}
.sidebar .widget.widget_recent_comments ul li a{
    color: #757575;
}
.sidebar .widget.widget_recent_comments ul li a:hover{
    color: #FA6742;
}

/*Widget Media Image */
.sidebar .widget.widget_media_image{
    padding: 0;
}
.sidebar .widget.widget_media_image img{
    width: 100%;
}

.sidebar ul li:last-child a {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar select{
    max-width: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    border-radius: 0 !important;
    border: 1px solid #F1F1F1;
    overflow: hidden;
    height: 40px;
}

.textwidget img{
    margin: 15px 0;
    height: auto;
}

/* XS Recent Post Widget*/
.xs-recent-post-widget{
    margin: 35px 0 0 -40px;
    padding-top: 20px;
}
.xs-recent-post-widget .media {
    margin-bottom: 15px;
    border-bottom: 1px dashed #DADADA;
    padding-bottom: 15px;
}
.xs-recent-post-widget .media .media-middle {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.xs-recent-post-widget .media .media-middle img {
    width: 75px;
    height: 60px;
    border-radius: 3px;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.xs-recent-post-widget .entry-title {
    padding-left: 20px;
    margin-bottom: 0;
    line-height: normal;
    margin-left:65px;
}
.xs-recent-post-widget .entry-title a {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 1.6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Recent Posts */

.sidebar .widget.recent-posts .widget-title {
    margin-bottom: 35px;
}

.sidebar .widget.recent-posts ul li {
    border-bottom: 1px dashed #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: normal;
}

.sidebar .widget.recent-posts ul li:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar .widget.recent-posts .media-left img {
    width: 93px;
    height: 65px;
}

.sidebar .widget.recent-posts .entry-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 6px 0 0;
}

.sidebar .widget.recent-posts .entry-title a {
    color: #303030;
}

.sidebar .widget.recent-posts .entry-title a:hover {
    color: #2154cf;
}

.sidebar .widget.recent-posts .post-date {
    font-weight: 500;
    color: #626c84;
    font-size: 14px;
}

.sidebar .widget.recent-posts .post-date a{
    color: #626c84;
}

/* Widget tags */
.sidebar .tagcloud {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.sidebar .tagcloud a {
    border: 1px solid #E2E2E2;
    color: #757575;
    display: inline-block;
    font-size: 12px !important;
    padding: 2px 12px;
    margin: 4px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.sidebar .tagcloud a:hover {
    background: #FA6742;
    color: #fff;
    border: 1px solid transparent;
}


.comment-author cite{display: inline;
                     font-size: 18px;}

.sidebar .widget ul.children, .widget ul.sub-menu {padding-left: 20px;margin: 0}
#recentcomments, .widget_rss ul{padding-left: 0;}
#wp-calendar .today{
    background: #2154cf;
    color: #fff;
}

.post-edit-link {font-weight: 400;}
.post-content table td, .post-content table th{
    border: 1px solid #d2d2d2 !important;
}

.bypostauthor{position: relative;}
.post-content .entry-content img {padding: 10px;}
.post-content .entry-content .wp-caption {max-width: 100%}
.entry-content input[type="submit"] {
    background: #2154d0;
    color: #fff;
    border: 1px solid #2154d0;
    padding: 2px 20px;
}
table {
    margin-bottom: 20px;
}
.entry-content .page-link {
    display: inherit
}
.comments-list {padding: 0;}
@media (max-width: 768px) {
    .comments-area .comments-list img.comment-avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .comments-area .comment-body {
        margin-left: 0px;
        margin-left: 60px;
    }
    .comments-area ul.children{
        padding-left: 10px;
    }

}

/*review*/
.main-menu>li>a {
    margin-right: 21px !important;
}
.comment-content h1, .entry-content h1 {font-size: 50px;}
.comment-content h2, .entry-content h2 {font-size: 40px;}
.post-single .entry-content h3 {font-size: 30px;}
.entry-content h4 {font-size: 24px;}
.entry-content h5 {font-size: 20px;}
.entry-content h6 {font-size: 16px;}
.comment-respond {background-color: #EDEDED;
                  padding: 20px;}
.alignleft.size-thumbnail{clear: both;float: none;}


@media screen and (min-width: 30em) {

	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		max-width: 25%;
    }
        
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        width: 100%;
    }
}